<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.user.GeneratedUserMenuPatternControlMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,USRID
    ,GYMID
    ,MNUPTNCOD
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="UserMenuPatternControlEntity">
  insert into VTBUSR02
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{usrid}
    ,#{gymid}
    ,#{mnuptncod}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from VTBUSR02
  <where>
    and USRID = #{usrid}
    and GYMID = #{gymid}
  </where>
</sql>

<select id="select" resultType="UserMenuPatternControlEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="UserMenuPatternControlEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="UserMenuPatternControlEntity">
  update VTBUSR02
  <set>
    ,MNUPTNCOD = #{mnuptncod}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and USRID = #{usrid}
    and GYMID = #{gymid}
  </where>
</update>

<delete id="delete" parameterType="UserMenuPatternControlEntity">
  delete from VTBUSR02
  <where>
    and USRID = #{usrid}
    and GYMID = #{gymid}
  </where>
</delete>

</mapper>

