<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.user.GeneratedSssProposalMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,DAIKAISKBCOD
    ,KIGBNG
    ,TOKCOD
    ,DSCOD
    ,TANSUU
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="SssProposalEntity">
  insert into VTBSSS02
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{daikaiskbcod}
    ,#{kigbng}
    ,#{tokcod}
    ,#{dscod}
    ,#{tansuu}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from VTBSSS02
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and KIGBNG = #{kigbng}
    and TOKCOD = #{tokcod}
    and DSCOD = #{dscod}
  </where>
</sql>

<select id="select" resultType="SssProposalEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="SssProposalEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="SssProposalEntity">
  update VTBSSS02
  <set>
    ,TANSUU = #{tansuu}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and KIGBNG = #{kigbng}
    and TOKCOD = #{tokcod}
    and DSCOD = #{dscod}
  </where>
</update>

<delete id="delete" parameterType="SssProposalEntity">
  delete from VTBSSS02
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and KIGBNG = #{kigbng}
    and TOKCOD = #{tokcod}
    and DSCOD = #{dscod}
  </where>
</delete>

</mapper>

