<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.hinban.GeneratedHaibanMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,DAIKAISKBCOD
    ,KIGBNG
    ,KIGKTA
    ,SETSUU
    ,DMYHNB
    ,TRKDTE
    ,HIBRAKCOD
    ,SRYHNB
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="HaibanEntity">
  insert into AEPROD04
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{daikaiskbcod}
    ,#{kigbng}
    ,#{kigkta}
    ,#{setsuu}
    ,#{dmyhnb}
    ,#{trkdte}
    ,#{hibrakcod}
    ,#{sryhnb}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from AEPROD04
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and KIGBNG = #{kigbng}
  </where>
</sql>

<select id="select" resultType="HaibanEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="HaibanEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="HaibanEntity">
  update AEPROD04
  <set>
    ,KIGKTA = #{kigkta}
    ,SETSUU = #{setsuu}
    ,DMYHNB = #{dmyhnb}
    ,TRKDTE = #{trkdte}
    ,HIBRAKCOD = #{hibrakcod}
    ,SRYHNB = #{sryhnb}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and KIGBNG = #{kigbng}
  </where>
</update>

<delete id="delete" parameterType="HaibanEntity">
  delete from AEPROD04
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and KIGBNG = #{kigbng}
  </where>
</delete>

</mapper>

