<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.hinban.GeneratedKoshaSeikyuKeitaiJokenMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,DAIKAISKBCOD
    ,KETCOD
    ,KIGBNG
    ,KSHSEIKETGRPCOD
    ,USRMEMO
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="KoshaSeikyuKeitaiJokenEntity">
  insert into UTBKET03
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{daikaiskbcod}
    ,#{ketcod}
    ,#{kigbng}
    ,#{kshseiketgrpcod}
    ,#{usrmemo}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from UTBKET03
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and KETCOD = #{ketcod}
    and KIGBNG = #{kigbng}
  </where>
</sql>

<select id="select" resultType="KoshaSeikyuKeitaiJokenEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="KoshaSeikyuKeitaiJokenEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="KoshaSeikyuKeitaiJokenEntity">
  update UTBKET03
  <set>
    ,KSHSEIKETGRPCOD = #{kshseiketgrpcod}
    ,USRMEMO = #{usrmemo}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and KETCOD = #{ketcod}
    and KIGBNG = #{kigbng}
  </where>
</update>

<delete id="delete" parameterType="KoshaSeikyuKeitaiJokenEntity">
  delete from UTBKET03
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and KETCOD = #{ketcod}
    and KIGBNG = #{kigbng}
  </where>
</delete>

</mapper>

