<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.control.GeneratedLoginControlMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,USRID
    ,SESSIONID
    ,STS
    ,LOGINDTE
    ,LOGINJKK
    ,LOGOUTDTE
    ,LOGOUTJKK
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
    ,INTMNUKBN
  </trim>
</sql>

<insert id="insert" parameterType="LoginControlEntity">
  insert into VTBCNL13
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{usrid}
    ,#{sessionid}
    ,#{sts}
    ,#{logindte}
    ,#{loginjkk}
    ,#{logoutdte}
    ,#{logoutjkk}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
    ,#{intmnukbn}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from VTBCNL13
  <where>
    and USRID = #{usrid}
  </where>
</sql>

<select id="select" resultType="LoginControlEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="LoginControlEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="LoginControlEntity">
  update VTBCNL13
  <set>
    ,SESSIONID = #{sessionid}
    ,STS = #{sts}
    ,LOGINDTE = #{logindte}
    ,LOGINJKK = #{loginjkk}
    ,LOGOUTDTE = #{logoutdte}
    ,LOGOUTJKK = #{logoutjkk}
    ,BROWSERVERSION = #{browserversion}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
    ,INTMNUKBN = #{intmnukbn}
  </set>
  <where>
    and USRID = #{usrid}
  </where>
</update>

<delete id="delete" parameterType="LoginControlEntity">
  delete from VTBCNL13
  <where>
    and USRID = #{usrid}
  </where>
</delete>

</mapper>

