<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.control.GeneratedMdvSessionControlMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,MDVUSRID
    ,SESSIONID
    ,LGIDTE8KT
    ,LGIJKK
    ,BRWSVER
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="MdvSessionControlEntity">
  insert into MTBCNL03
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{mdvusrid}
    ,#{sessionid}
    ,#{lgidte8kt}
    ,#{lgijkk}
    ,#{brwsver}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from MTBCNL03
  <where>
    and MDVUSRID = #{mdvusrid}
  </where>
</sql>

<select id="select" resultType="MdvSessionControlEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="MdvSessionControlEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="MdvSessionControlEntity">
  update MTBCNL03
  <set>
    ,SESSIONID = #{sessionid}
    ,LGIDTE8KT = #{lgidte8kt}
    ,LGIJKK = #{lgijkk}
    ,BRWSVER = #{brwsver}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and MDVUSRID = #{mdvusrid}
  </where>
</update>

<delete id="delete" parameterType="MdvSessionControlEntity">
  delete from MTBCNL03
  <where>
    and MDVUSRID = #{mdvusrid}
  </where>
</delete>

</mapper>

