<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>

		<!--header-->
		<div th:fragment="header(title_icon, title)">
			<header>
				<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
				<!--<script type="text/javascript" th:src="@{/js/jquery-3.7.0.min.js}"></script>-->
				<div class="container-fluid bg-primary bg-gradient text-light row">
					<div class="col-auto mt-2">
						<h3>
							<span class="bi bi-${title_icon}"/>
							<span th:text="${title}"/>
						</h3>
					</div>
					<div class="col-auto ms-auto">
						<span class="fs-6 text-end col">
							<!--<div>画面ID : <span th:text="${gmnId}"/></div>-->
							<div>最終更新 <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy/MM/dd HH:mm:ss')}"/></div>
						</span>
					</div>
				</div>
			</header>
		</div>
		<!--footer-->
		<div th:fragment="footer">
			<footer class="footer mt-auto bg-light">
				<div class="container-fluid py-2 bg-primary text-center">
					<span class="text-light small" th:text="#{label.footer}"></span>
				</div>
			</footer>
		</div>

	</body>
</html>