<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MENU</title>
</head>
<body>
    <div class="container">
        <h1>register MENU</h1>
        <li>
            <a href=""><i class="fa fa-info"></i>情報サービス</a>
            <ul>
                <li><a href=""><i class="fa fa-cog fa-spin"></i>在庫照会</a></li>
                <li><a th:href="@{/register/allstock}"><i class="fa fa-globe"></i>全国在庫照会</a></li>
                <li><a href=""><i class="fa fa-cog fa-spin"></i>全倉庫在庫照会</a></li>
                <li><a href=""><i class="fa fa-cog fa-spin"></i>商品照会</a></li>
            </ul>
        </li>
    </div>
</body>
</html>
