
.hov{
	position:relative;
}

.hov:hover .fullsize{
	display: inline;
}

.fullsize {
  position   : absolute;                /* 親要素を基準 */
  display: none;                        /* 要素を非表示 */
  padding: 2px;                         /* テキストの前後の余白 */
  background-color: rgba(102, 102, 255, 0.50);       /* 背景色（透明度） */
  width:300px;                          /* 吹き出し全体の幅 */
  left : -1%;                           /* 表示位置 */
  font-size: 80%;                       /* 文字サイズ */
}
.fullsize:after{
  border-left: 26px solid rgba(102, 102, 255, 0.50);   /* 吹き出し口の幅・色 */
  border-top: 10px solid transparent;     /* 吹き出し口の高さ１／２ */
  border-bottom: 10px solid transparent;  /* 吹き出し口の高さ１／２ */
  right: -12px;                           /* 吹き出し口の位置調整 */
  top: -40%;                                /* 吹き出し口の縦位置 */
  content: "";                       /* コンテンツの挿入 */
  position: absolute;                /* 親要素を基準 */
}

.opacityOn{
	opacity: 1;
}

.checkbox {
  opacity: inherit;
  appearance: none;
  height: 24px;
  width: 24px;
  margin: 4px;
  border: 1px solid #8b98a5;
  border-radius: 4px;
}
.checkbox:checked {
  border: 1px solid #8b98a5;
  background-color: #1d9bf0;
}
.checkbox:checked::before {
  display: grid;
  place-content: center;
  color: white;
  height: 100%;
  font-family: "Material Icons";
  font-size: 18px;
  content: "\E876"; /** 外部のアイコンを使ってCheckmarkを実装 */
}
.checkbox:focus-visible {
  outline: 2px solid #1d9bf0;
  outline-offset: 2px;
}



.my-checkbox {
  display: block;
  position: relative;
  margin: 1em 0;
  padding-left: 28px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  user-select: none; /* テキストが選択されてしまうのを防ぐ */
  /* inputは非表示にする */
  input {
    display: none;
  }
}

/* □ */
.checkmark {
  position: absolute;
  top: 0; /* 上からの位置 */
  left: 0;
  height: 22px; /* 幅 */
  width: 22px; /* 幅 */
  border: solid 2px #d4dae2; /* 線 */
  border-radius: 4px;
  box-sizing: border-box;
  /* ✓ */
  &:after {
    content: "";
    position: absolute;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    left: 5px;
    top: 1px;
    width: 6px;
    height: 10px;
    transform: rotate(45deg);
    opacity: 0; /* 透明にしておく */
  }
}


/* チェックが入ったとき */
.my-checkbox {
  /* □ */
  input:checked + .checkmark {
    background: #2e80ff; /* チェック時の色 */
    border-color: #2e80ff; /* チェック時の色 */
  }
  /* ✓ */
  input:checked + .checkmark:after {
    opacity: 1;
  }
}

.red{
	 background-color: rgba(255, 0, 255, 0.50);   
}


