<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.juchu.GeneratedSssTotallingMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,DAIKAISKBCOD
    ,EIGCOD
    ,KIGBNG
    ,TOKSYB
    ,MHYSUU
    ,MHYKIN
    ,ICHIJISUU
    ,ICHIJIKIN
    ,NIJISUU
    ,NIJIKIN
    ,KAKTEISUU
    ,KAKTEIKIN
    ,TUIKASUU
    ,TUIKAKIN
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="SssTotallingEntity">
  insert into VTBSSS11
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{daikaiskbcod}
    ,#{eigcod}
    ,#{kigbng}
    ,#{toksyb}
    ,#{mhysuu}
    ,#{mhykin}
    ,#{ichijisuu}
    ,#{ichijikin}
    ,#{nijisuu}
    ,#{nijikin}
    ,#{kakteisuu}
    ,#{kakteikin}
    ,#{tuikasuu}
    ,#{tuikakin}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from VTBSSS11
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and EIGCOD = #{eigcod}
    and KIGBNG = #{kigbng}
    and TOKSYB = #{toksyb}
  </where>
</sql>

<select id="select" resultType="SssTotallingEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="SssTotallingEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="SssTotallingEntity">
  update VTBSSS11
  <set>
    ,MHYSUU = #{mhysuu}
    ,MHYKIN = #{mhykin}
    ,ICHIJISUU = #{ichijisuu}
    ,ICHIJIKIN = #{ichijikin}
    ,NIJISUU = #{nijisuu}
    ,NIJIKIN = #{nijikin}
    ,KAKTEISUU = #{kakteisuu}
    ,KAKTEIKIN = #{kakteikin}
    ,TUIKASUU = #{tuikasuu}
    ,TUIKAKIN = #{tuikakin}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and EIGCOD = #{eigcod}
    and KIGBNG = #{kigbng}
    and TOKSYB = #{toksyb}
  </where>
</update>

<delete id="delete" parameterType="SssTotallingEntity">
  delete from VTBSSS11
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and EIGCOD = #{eigcod}
    and KIGBNG = #{kigbng}
    and TOKSYB = #{toksyb}
  </where>
</delete>

</mapper>

