<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.syseve.GeneratedBatchParameterMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,BATSEQ
    ,JOBID
    ,BSHCOD
    ,USRINF
    ,INPDTE8KT
    ,INPJKK
    ,BATKIDKBN
    ,BATSTSKBN
    ,BATWKDTAUSEKBN
    ,BATPRMBDY
    ,PRCDTESTEARIFLG
    ,USRSTEPRCDTE8KT
    ,PRCDTE8KT
    ,PRCSTTJKK
    ,PRCENDJKK
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="BatchParameterEntity">
  insert into AESYSE10
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{batseq}
    ,#{jobid}
    ,#{bshcod}
    ,#{usrinf}
    ,#{inpdte8kt}
    ,#{inpjkk}
    ,#{batkidkbn}
    ,#{batstskbn}
    ,#{batwkdtausekbn}
    ,#{batprmbdy}
    ,#{prcdtesteariflg}
    ,#{usrsteprcdte8kt}
    ,#{prcdte8kt}
    ,#{prcsttjkk}
    ,#{prcendjkk}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from AESYSE10
  <where>
    and BATSEQ = #{batseq}
  </where>
</sql>

<select id="select" resultType="BatchParameterEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="BatchParameterEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="BatchParameterEntity">
  update AESYSE10
  <set>
    ,JOBID = #{jobid}
    ,BSHCOD = #{bshcod}
    ,USRINF = #{usrinf}
    ,INPDTE8KT = #{inpdte8kt}
    ,INPJKK = #{inpjkk}
    ,BATKIDKBN = #{batkidkbn}
    ,BATSTSKBN = #{batstskbn}
    ,BATWKDTAUSEKBN = #{batwkdtausekbn}
    ,BATPRMBDY = #{batprmbdy}
    ,PRCDTESTEARIFLG = #{prcdtesteariflg}
    ,USRSTEPRCDTE8KT = #{usrsteprcdte8kt}
    ,PRCDTE8KT = #{prcdte8kt}
    ,PRCSTTJKK = #{prcsttjkk}
    ,PRCENDJKK = #{prcendjkk}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and BATSEQ = #{batseq}
  </where>
</update>

<delete id="delete" parameterType="BatchParameterEntity">
  delete from AESYSE10
  <where>
    and BATSEQ = #{batseq}
  </where>
</delete>

</mapper>

