<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.syseve.GeneratedMasterMainteJikangaiDataMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,TBLID
    ,MTNKEY
    ,FMTNO
    ,MTNNO
    ,BSHCOD
    ,INPDTE8KT
    ,INPJKK
    ,USRSEQNO
    ,MTNSJIKBN
    ,HNEYTEDTE
    ,SSNFLG
    ,SSNDTE8KT
    ,SSNJKK
    ,USRID
    ,MTNSJIDTABDY
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="MasterMainteJikangaiDataEntity">
  insert into VTBDBC18
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{tblid}
    ,#{mtnkey}
    ,#{fmtno}
    ,#{mtnno}
    ,#{bshcod}
    ,#{inpdte8kt}
    ,#{inpjkk}
    ,#{usrseqno}
    ,#{mtnsjikbn}
    ,#{hneytedte}
    ,#{ssnflg}
    ,#{ssndte8kt}
    ,#{ssnjkk}
    ,#{usrid}
    ,#{mtnsjidtabdy}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from VTBDBC18
  <where>
    and TBLID = #{tblid}
    and MTNKEY = #{mtnkey}
    and FMTNO = #{fmtno}
    and MTNNO = #{mtnno}
    and BSHCOD = #{bshcod}
    and INPDTE8KT = #{inpdte8kt}
    and INPJKK = #{inpjkk}
  </where>
</sql>

<select id="select" resultType="MasterMainteJikangaiDataEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="MasterMainteJikangaiDataEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="MasterMainteJikangaiDataEntity">
  update VTBDBC18
  <set>
    ,USRSEQNO = #{usrseqno}
    ,MTNSJIKBN = #{mtnsjikbn}
    ,HNEYTEDTE = #{hneytedte}
    ,SSNFLG = #{ssnflg}
    ,SSNDTE8KT = #{ssndte8kt}
    ,SSNJKK = #{ssnjkk}
    ,USRID = #{usrid}
    ,MTNSJIDTABDY = #{mtnsjidtabdy}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and TBLID = #{tblid}
    and MTNKEY = #{mtnkey}
    and FMTNO = #{fmtno}
    and MTNNO = #{mtnno}
    and BSHCOD = #{bshcod}
    and INPDTE8KT = #{inpdte8kt}
    and INPJKK = #{inpjkk}
  </where>
</update>

<delete id="delete" parameterType="MasterMainteJikangaiDataEntity">
  delete from VTBDBC18
  <where>
    and TBLID = #{tblid}
    and MTNKEY = #{mtnkey}
    and FMTNO = #{fmtno}
    and MTNNO = #{mtnno}
    and BSHCOD = #{bshcod}
    and INPDTE8KT = #{inpdte8kt}
    and INPJKK = #{inpjkk}
  </where>
</delete>

</mapper>

