<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MENU</title>
</head>
<body>
    <div class="container">
        <h1>register MENU</h1>
        <li>
            <a href=""><i class="fa fa-info"></i>返品</a>
            <ul>
                <li><a href=""><i class="fa fa-cog fa-spin"></i>得意先返品照会／M枠修正</a></li>
                <li><a href=""><i class="fa fa-cog fa-spin"></i>返品受入照会／修正</a></li>
                <li><a th:href="@{/register/receiveEntry}"><i class="fa fa-globe"></i>返品入力</a></li>
                <li><a href=""><i class="fa fa-cog fa-spin"></i>返品訂正入力</a></li>
                <li><a href=""><i class="fa fa-cog fa-spin"></i>返品金額自動計算</a></li>
            </ul>
        </li>
    </div>
</body>
</html>