<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.jokensettei.GeneratedListKaishaJuzokuBashoMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,KAISKBCOD
    ,BSHCOD
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="ListKaishaJuzokuBashoEntity">
  insert into AECOND12
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{kaiskbcod}
    ,#{bshcod}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from AECOND12
  <where>
    and KAISKBCOD = #{kaiskbcod}
  </where>
</sql>

<select id="select" resultType="ListKaishaJuzokuBashoEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="ListKaishaJuzokuBashoEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="ListKaishaJuzokuBashoEntity">
  update AECOND12
  <set>
    ,BSHCOD = #{bshcod}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and KAISKBCOD = #{kaiskbcod}
  </where>
</update>

<delete id="delete" parameterType="ListKaishaJuzokuBashoEntity">
  delete from AECOND12
  <where>
    and KAISKBCOD = #{kaiskbcod}
  </where>
</delete>

</mapper>

