<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="エラー"/>
	<!--/* favicon */-->
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/img/apple-touch-icon.png}">
	<link rel="icon" th:href="@{/favicon.ico}" sizes="any">
	<link rel="icon" type="image/png" sizes="32x32" th:href="@{/img/favicon-32x32.png}">
	<link rel="icon" type="image/png" sizes="16x16" th:href="@{/img/favicon-16x16.png}">
	<link rel="manifest" th:href="@{/img/manifest.json}">
</head>
<body>
	２重で送信しようとしたんで止めました。
	<!--/* footer */-->
	<div id="footer" th:replace="layout :: footer"></div>
</body>
</html>