<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.kaisha.EigyoshoSokoRelationMapper">
  <select id="selectEigSkoList">
    select
    <include refid="jp.co.jdsnet.common.domain.mapper.kaisha.GeneratedEigyoshoSokoRelationMapper.fields" />
    from VTBDBC08
    <where>
      DAIKAISKBCOD = #{daikaiskbcod}
      and KAISKBCOD = #{kaiskbcod}
      and PNLLSTID = #{pnllstid}
      and SYKKBN = #{sykkbn}
      and PNLLSTKBN = #{pnllstkbn}
      and UPDKBN <![CDATA[<>]]> 'D'
    </where>
    with ur
  </select>
</mapper>

