<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.kaisha.GeneratedClaimsiteTerritoryMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,KAISKBCOD
    ,EIGCOD
    ,TERCOD
    ,TERNMKN
    ,TERNMKJ
    ,EIGKACOD
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
    ,EIGTIK
  </trim>
</sql>

<insert id="insert" parameterType="ClaimsiteTerritoryEntity">
  insert into CTBKAI03
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{kaiskbcod}
    ,#{eigcod}
    ,#{tercod}
    ,#{ternmkn}
    ,#{ternmkj}
    ,#{eigkacod}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
    ,#{eigtik}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from CTBKAI03
  <where>
    and KAISKBCOD = #{kaiskbcod}
    and EIGCOD = #{eigcod}
    and TERCOD = #{tercod}
  </where>
</sql>

<select id="select" resultType="ClaimsiteTerritoryEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="ClaimsiteTerritoryEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="ClaimsiteTerritoryEntity">
  update CTBKAI03
  <set>
    ,TERNMKN = #{ternmkn}
    ,TERNMKJ = #{ternmkj}
    ,EIGKACOD = #{eigkacod}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
    ,EIGTIK = #{eigtik}
  </set>
  <where>
    and KAISKBCOD = #{kaiskbcod}
    and EIGCOD = #{eigcod}
    and TERCOD = #{tercod}
  </where>
</update>

<delete id="delete" parameterType="ClaimsiteTerritoryEntity">
  delete from CTBKAI03
  <where>
    and KAISKBCOD = #{kaiskbcod}
    and EIGCOD = #{eigcod}
    and TERCOD = #{tercod}
  </where>
</delete>

</mapper>

