<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.kaisha.GeneratedKaishabetsuTorokumeiTokuisakiGroupMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,KAISKBCOD
    ,TRKNM
    ,SEQ
    ,TOKCOD
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="KaishabetsuTorokumeiTokuisakiGroupEntity">
  insert into AECOMP25
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{kaiskbcod}
    ,#{trknm}
    ,#{seq}
    ,#{tokcod}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from AECOMP25
  <where>
    and KAISKBCOD = #{kaiskbcod}
    and TRKNM = #{trknm}
    and SEQ = #{seq}
  </where>
</sql>

<select id="select" resultType="KaishabetsuTorokumeiTokuisakiGroupEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="KaishabetsuTorokumeiTokuisakiGroupEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="KaishabetsuTorokumeiTokuisakiGroupEntity">
  update AECOMP25
  <set>
    ,TOKCOD = #{tokcod}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and KAISKBCOD = #{kaiskbcod}
    and TRKNM = #{trknm}
    and SEQ = #{seq}
  </where>
</update>

<delete id="delete" parameterType="KaishabetsuTorokumeiTokuisakiGroupEntity">
  delete from AECOMP25
  <where>
    and KAISKBCOD = #{kaiskbcod}
    and TRKNM = #{trknm}
    and SEQ = #{seq}
  </where>
</delete>

</mapper>

