<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.kaisha.GeneratedTanaoroshiKeitaiGroupMidashiMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,DAIKAISKBCOD
    ,TNOKETGRPCOD
    ,TNOKETGRPNMKN
    ,TNOKETGRPNM
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="TanaoroshiKeitaiGroupMidashiEntity">
  insert into AECOMP27
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{daikaiskbcod}
    ,#{tnoketgrpcod}
    ,#{tnoketgrpnmkn}
    ,#{tnoketgrpnm}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from AECOMP27
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and TNOKETGRPCOD = #{tnoketgrpcod}
  </where>
</sql>

<select id="select" resultType="TanaoroshiKeitaiGroupMidashiEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="TanaoroshiKeitaiGroupMidashiEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="TanaoroshiKeitaiGroupMidashiEntity">
  update AECOMP27
  <set>
    ,TNOKETGRPNMKN = #{tnoketgrpnmkn}
    ,TNOKETGRPNM = #{tnoketgrpnm}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and TNOKETGRPCOD = #{tnoketgrpcod}
  </where>
</update>

<delete id="delete" parameterType="TanaoroshiKeitaiGroupMidashiEntity">
  delete from AECOMP27
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and TNOKETGRPCOD = #{tnoketgrpcod}
  </where>
</delete>

</mapper>

