<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.kaisha.GeneratedSalesChannelMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,DAIKAISKBCOD
    ,KAISKBCOD
    ,HANRO
    ,HJINM
    ,SYUCOD
    ,SYUMOTCOD
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="SalesChannelEntity">
  insert into VTBDBC16
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{daikaiskbcod}
    ,#{kaiskbcod}
    ,#{hanro}
    ,#{hjinm}
    ,#{syucod}
    ,#{syumotcod}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from VTBDBC16
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and KAISKBCOD = #{kaiskbcod}
    and HANRO = #{hanro}
  </where>
</sql>

<select id="select" resultType="SalesChannelEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="SalesChannelEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="SalesChannelEntity">
  update VTBDBC16
  <set>
    ,HJINM = #{hjinm}
    ,SYUCOD = #{syucod}
    ,SYUMOTCOD = #{syumotcod}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and KAISKBCOD = #{kaiskbcod}
    and HANRO = #{hanro}
  </where>
</update>

<delete id="delete" parameterType="SalesChannelEntity">
  delete from VTBDBC16
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and KAISKBCOD = #{kaiskbcod}
    and HANRO = #{hanro}
  </where>
</delete>

</mapper>

