<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.kaisha.GeneratedTanaoroshiKeitaiGroupMeisaiMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,DAIKAISKBCOD
    ,KETCODFRM
    ,KETCODTO
    ,TNOKETGRPCOD
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="TanaoroshiKeitaiGroupMeisaiEntity">
  insert into AECOMP28
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{daikaiskbcod}
    ,#{ketcodfrm}
    ,#{ketcodto}
    ,#{tnoketgrpcod}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from AECOMP28
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and KETCODFRM = #{ketcodfrm}
  </where>
</sql>

<select id="select" resultType="TanaoroshiKeitaiGroupMeisaiEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="TanaoroshiKeitaiGroupMeisaiEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="TanaoroshiKeitaiGroupMeisaiEntity">
  update AECOMP28
  <set>
    ,KETCODTO = #{ketcodto}
    ,TNOKETGRPCOD = #{tnoketgrpcod}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and KETCODFRM = #{ketcodfrm}
  </where>
</update>

<delete id="delete" parameterType="TanaoroshiKeitaiGroupMeisaiEntity">
  delete from AECOMP28
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and KETCODFRM = #{ketcodfrm}
  </where>
</delete>

</mapper>

