<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.kaisha.Vtbkai01Mapper">
    <select id="selectWithoutLogicalDelete" resultType="Vtbkai01Entity">
        SELECT *
        FROM VTBKAI01
        <where>
			KAISKBCOD = #{kaiskbcod}
			and UPDKBN <![CDATA[ <> ]]> 'D'
		</where>
        WITH UR
    </select>
</mapper>