<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.henpin.GeneratedHenpinShijiMeisaiMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,HPNSJIMDSID
    ,SEQ
    ,KIGBNG
    ,SKRTAN
    ,HPNSUR
    ,HPNKIN
    ,RMCOD
    ,ERRARIFLG
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
    ,TANKINSTEKBN
    ,ERRCOD
  </trim>
</sql>

<insert id="insert" parameterType="HenpinShijiMeisaiEntity">
  insert into AERETU05
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{hpnsjimdsid}
    ,#{seq}
    ,#{kigbng}
    ,#{skrtan}
    ,#{hpnsur}
    ,#{hpnkin}
    ,#{rmcod}
    ,#{errariflg}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
    ,#{tankinstekbn}
    ,#{errcod}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from AERETU05
  <where>
    and HPNSJIMDSID = #{hpnsjimdsid}
    and SEQ = #{seq}
  </where>
</sql>

<select id="select" resultType="HenpinShijiMeisaiEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="HenpinShijiMeisaiEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="HenpinShijiMeisaiEntity">
  update AERETU05
  <set>
    ,KIGBNG = #{kigbng}
    ,SKRTAN = #{skrtan}
    ,HPNSUR = #{hpnsur}
    ,HPNKIN = #{hpnkin}
    ,RMCOD = #{rmcod}
    ,ERRARIFLG = #{errariflg}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
    ,TANKINSTEKBN = #{tankinstekbn}
    ,ERRCOD = #{errcod}
  </set>
  <where>
    and HPNSJIMDSID = #{hpnsjimdsid}
    and SEQ = #{seq}
  </where>
</update>

<delete id="delete" parameterType="HenpinShijiMeisaiEntity">
  delete from AERETU05
  <where>
    and HPNSJIMDSID = #{hpnsjimdsid}
    and SEQ = #{seq}
  </where>
</delete>

</mapper>

