<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.schedule.GeneratedAautoRenkeiMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,AUTRNKID
    ,SYSPRCID
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="AautoRenkeiEntity">
  insert into VTBSCH07
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{autrnkid}
    ,#{sysprcid}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from VTBSCH07
  <where>
    and AUTRNKID = #{autrnkid}
  </where>
</sql>

<select id="select" resultType="AautoRenkeiEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="AautoRenkeiEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="AautoRenkeiEntity">
  update VTBSCH07
  <set>
    ,SYSPRCID = #{sysprcid}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and AUTRNKID = #{autrnkid}
  </where>
</update>

<delete id="delete" parameterType="AautoRenkeiEntity">
  delete from VTBSCH07
  <where>
    and AUTRNKID = #{autrnkid}
  </where>
</delete>

</mapper>

