<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>MENU</title>
</head>
<body>
    <div class="container">
        <h1>register MENU</h1>
        <li>
            <a href=""><i class="fa fa-info"></i>注残／貸出／経費</a>
            <ul>
                <li><a href=""><i class="fa fa-cog fa-spin"></i>注残照会／修正</a></li>
                <li><a th:href="@{/register/backlendcost}"><i class="fa fa-globe"></i>注残一括削除</a></li>
                <li><a href=""><i class="fa fa-cog fa-spin"></i>ああああ</a></li>
                <li><a href=""><i class="fa fa-cog fa-spin"></i>ああああ</a></li>
            </ul>
        </li>
    </div>
</body>
</html>