<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.tokuisaki.GeneratedTokuisakiChushutsuJokenMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,LSTID
    ,LSTEDA
    ,DAIKAISKBCOD
    ,HKNDAIKAISKBCOD
    ,URISYYTENCOD
    ,TOKCOD
    ,YKOKKNFRM
    ,YKOKKNTO
    ,USRMEMO
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="TokuisakiChushutsuJokenEntity">
  insert into UTBCNL06
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{lstid}
    ,#{lsteda}
    ,#{daikaiskbcod}
    ,#{hkndaikaiskbcod}
    ,#{urisyytencod}
    ,#{tokcod}
    ,#{ykokknfrm}
    ,#{ykokknto}
    ,#{usrmemo}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from UTBCNL06
  <where>
    and LSTID = #{lstid}
    and LSTEDA = #{lsteda}
    and DAIKAISKBCOD = #{daikaiskbcod}
    and HKNDAIKAISKBCOD = #{hkndaikaiskbcod}
    and URISYYTENCOD = #{urisyytencod}
    and TOKCOD = #{tokcod}
  </where>
</sql>

<select id="select" resultType="TokuisakiChushutsuJokenEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="TokuisakiChushutsuJokenEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="TokuisakiChushutsuJokenEntity">
  update UTBCNL06
  <set>
    ,YKOKKNFRM = #{ykokknfrm}
    ,YKOKKNTO = #{ykokknto}
    ,USRMEMO = #{usrmemo}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and LSTID = #{lstid}
    and LSTEDA = #{lsteda}
    and DAIKAISKBCOD = #{daikaiskbcod}
    and HKNDAIKAISKBCOD = #{hkndaikaiskbcod}
    and URISYYTENCOD = #{urisyytencod}
    and TOKCOD = #{tokcod}
  </where>
</update>

<delete id="delete" parameterType="TokuisakiChushutsuJokenEntity">
  delete from UTBCNL06
  <where>
    and LSTID = #{lstid}
    and LSTEDA = #{lsteda}
    and DAIKAISKBCOD = #{daikaiskbcod}
    and HKNDAIKAISKBCOD = #{hkndaikaiskbcod}
    and URISYYTENCOD = #{urisyytencod}
    and TOKCOD = #{tokcod}
  </where>
</delete>

</mapper>

