<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.tokuisaki.GeneratedShukkaSeigenGroupMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,DAIKAISKBCOD
    ,SYASGEGRPCOD
    ,SYASGEGRPNM
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="ShukkaSeigenGroupEntity">
  insert into AECUST12
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{daikaiskbcod}
    ,#{syasgegrpcod}
    ,#{syasgegrpnm}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from AECUST12
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and SYASGEGRPCOD = #{syasgegrpcod}
  </where>
</sql>

<select id="select" resultType="ShukkaSeigenGroupEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="ShukkaSeigenGroupEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="ShukkaSeigenGroupEntity">
  update AECUST12
  <set>
    ,SYASGEGRPNM = #{syasgegrpnm}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and SYASGEGRPCOD = #{syasgegrpcod}
  </where>
</update>

<delete id="delete" parameterType="ShukkaSeigenGroupEntity">
  delete from AECUST12
  <where>
    and DAIKAISKBCOD = #{daikaiskbcod}
    and SYASGEGRPCOD = #{syasgegrpcod}
  </where>
</delete>

</mapper>

