<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.sokosagyo.GeneratedSokoShijiMeisaiMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,SKOSJIMDSID
    ,SEQ
    ,KIGBNG
    ,SJISUR
    ,RMCOD
    ,TEISJIARIFLGPLS
    ,TEISURPLS
    ,TEIRMCODPLS
    ,TEIDENTYOPLS
    ,TEISJIARIFLGMNS
    ,TEISURMNS
    ,TEIRMCODMNS
    ,TEIDENTYOMNS
    ,SNKTRNCOD
    ,SNKTRNKAISKBCOD
    ,SNKTRNDENDTE
    ,SNKTRNMKRDENBNGFRM
    ,SNKTRNMKRDENBNGTO
    ,HACDENBNG
    ,HACDENGYB
    ,GMNGYB
    ,SEKSEQ
    ,AUTSKYRELNOFRM
    ,AUTSKYRELNOTO
    ,TMESKOCOD
    ,ABZAIKBN
    ,SKYTMEKBN
    ,DENTYO
    ,TNASJIARISGN
    ,INPCHKERRKBN
    ,ERRARIFLG
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="SokoShijiMeisaiEntity">
  insert into AEGENE02
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{skosjimdsid}
    ,#{seq}
    ,#{kigbng}
    ,#{sjisur}
    ,#{rmcod}
    ,#{teisjiariflgpls}
    ,#{teisurpls}
    ,#{teirmcodpls}
    ,#{teidentyopls}
    ,#{teisjiariflgmns}
    ,#{teisurmns}
    ,#{teirmcodmns}
    ,#{teidentyomns}
    ,#{snktrncod}
    ,#{snktrnkaiskbcod}
    ,#{snktrndendte}
    ,#{snktrnmkrdenbngfrm}
    ,#{snktrnmkrdenbngto}
    ,#{hacdenbng}
    ,#{hacdengyb}
    ,#{gmngyb}
    ,#{sekseq}
    ,#{autskyrelnofrm}
    ,#{autskyrelnoto}
    ,#{tmeskocod}
    ,#{abzaikbn}
    ,#{skytmekbn}
    ,#{dentyo}
    ,#{tnasjiarisgn}
    ,#{inpchkerrkbn}
    ,#{errariflg}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from AEGENE02
  <where>
    and SKOSJIMDSID = #{skosjimdsid}
    and SEQ = #{seq}
  </where>
</sql>

<select id="select" resultType="SokoShijiMeisaiEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="SokoShijiMeisaiEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="SokoShijiMeisaiEntity">
  update AEGENE02
  <set>
    ,KIGBNG = #{kigbng}
    ,SJISUR = #{sjisur}
    ,RMCOD = #{rmcod}
    ,TEISJIARIFLGPLS = #{teisjiariflgpls}
    ,TEISURPLS = #{teisurpls}
    ,TEIRMCODPLS = #{teirmcodpls}
    ,TEIDENTYOPLS = #{teidentyopls}
    ,TEISJIARIFLGMNS = #{teisjiariflgmns}
    ,TEISURMNS = #{teisurmns}
    ,TEIRMCODMNS = #{teirmcodmns}
    ,TEIDENTYOMNS = #{teidentyomns}
    ,SNKTRNCOD = #{snktrncod}
    ,SNKTRNKAISKBCOD = #{snktrnkaiskbcod}
    ,SNKTRNDENDTE = #{snktrndendte}
    ,SNKTRNMKRDENBNGFRM = #{snktrnmkrdenbngfrm}
    ,SNKTRNMKRDENBNGTO = #{snktrnmkrdenbngto}
    ,HACDENBNG = #{hacdenbng}
    ,HACDENGYB = #{hacdengyb}
    ,GMNGYB = #{gmngyb}
    ,SEKSEQ = #{sekseq}
    ,AUTSKYRELNOFRM = #{autskyrelnofrm}
    ,AUTSKYRELNOTO = #{autskyrelnoto}
    ,TMESKOCOD = #{tmeskocod}
    ,ABZAIKBN = #{abzaikbn}
    ,SKYTMEKBN = #{skytmekbn}
    ,DENTYO = #{dentyo}
    ,TNASJIARISGN = #{tnasjiarisgn}
    ,INPCHKERRKBN = #{inpchkerrkbn}
    ,ERRARIFLG = #{errariflg}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and SKOSJIMDSID = #{skosjimdsid}
    and SEQ = #{seq}
  </where>
</update>

<delete id="delete" parameterType="SokoShijiMeisaiEntity">
  delete from AEGENE02
  <where>
    and SKOSJIMDSID = #{skosjimdsid}
    and SEQ = #{seq}
  </where>
</delete>

</mapper>

