<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="jp.co.jdsnet.common.domain.mapper.chuzan.ChuzanMapper">
	 <select id="selectCount" resultType="int">
	 	SELECT count(*)
	 	FROM AERORD12
	 	
		LEFT JOIN AECUST03
		ON AERORD12.DAIKAISKBCOD = AECUST03.DAIKAISKBCOD
		and AERORD12.TOKCOD = AECUST03.TOKCOD
		
		LEFT JOIN AEPROD08
		ON AERORD12.DAIKAISKBCOD = AEPROD08.DAIKAISKBCOD
		and AERORD12.KIGBNG = AEPROD08.KIGBNG
		
		LEFT JOIN AEPROD01
		ON AERORD12.KIGBNG = AEPROD01.KIGBNG
		<where>
			 AERORD12.CHZKICSJIZFLG <![CDATA[ <> ]]> '1'
			 and AERORD12.CHZSTSKBN <![CDATA[ <> ]]> '1'
			 and AERORD12.DELFLG <![CDATA[ <> ]]> '1'
			 
			 <choose>
				 <when test="usrDaikaiskbcod != usrKaiskbcod and usrBun == 'MKR' ">
					and AEPROD01.KAISKBCOD = #{kaiskbcod} <!-- ※AEPROD01との結合条件が仕様書に書いてない -->
				 </when>
				 <otherwise>
					and AERORD12.DAIKAISKBCOD = #{kaiskbcod}
				 </otherwise>
			 </choose>
			 
			 <if test="mkrbuncod != ''">
				and AEPROD01.MKRBUNCOD = #{mkrbuncod}
			 </if>
			 <if test="skocod != ''">
				and AERORD12.CHZSKOCOD = #{skocod}
			 </if>
			 <if test="kigbng != ''">
				and AERORD12.KIGBNG = #{hjihnb}
			 </if>
			  and AEPROD01.KAISKBCOD = #{kaiskbcod}  <!-- ※AEPROD01との結合条件が仕様書に書いてない -->
			 <!--
			 <choose>
				 <when test="#{tokcod} != '' and #{radioTokcod} == 'tandokuten' ">
					 AEPROD01.KAISKBCOD = #{kaiskbcod}  ※AEPROD01との結合条件が仕様書に書いてない 
				 </when>
				 <when test="#{tokcod} != '' and #{radioTokcod} == 'shuyakuten' ">
					 AEPROD01.KAISKBCOD = #{kaiskbcod}  ※AEPROD01との結合条件が仕様書に書いてない 
				 </when>
				 <otherwise>
					  処理なし 
				 </otherwise>
			 </choose>
			 
			 <if test="#{dscod} != ''">
				and AERORD12.DSCOD = #{dscod}
			 </if>
			 <if test="#{eigcod} != ''">
				and AERORD12.EIGCOD = #{eigcod}
			 </if>
			 <if test="#{tercod} != ''">
				and AERORD12.TERCOD = #{tercod}
			 </if>
			 <if test="#{jucdtefrom} != '' or #{jucdteto} != '' ">
				and AERORD12.JUCDTE BETWEEN #{jucdtefrom} and #{jucdteto}
 			 </if>
 			 <if test="#{hbidtefrom} != '' or #{hbidteto} != '' ">
				and AERORD12.JUCDTE BETWEEN #{hbidtefrom} and #{hbidteto}
 			 </if>
			 -->
		 </where>
		 WITH UR
	 </select>
	 
	 <select id="select" resultType="ChuzanEntity">
	 	SELECT *
	 	FROM AERORD12
	 	
	 	LEFT JOIN AECUST03
		ON AERORD12.DAIKAISKBCOD = AECUST03.DAIKAISKBCOD
		and AERORD12.TOKCOD = AECUST03.TOKCOD
		
		LEFT JOIN AEPROD08
		ON AERORD12.DAIKAISKBCOD = AEPROD08.DAIKAISKBCOD
		and AERORD12.KIGBNG = AEPROD08.KIGBNG
		
		LEFT JOIN AEPROD01
		ON AERORD12.KIGBNG = AEPROD01.KIGBNG
	 	<where>
			 AERORD12.CHZKICSJIZFLG <![CDATA[ <> ]]> '1' <!-- フラグ≠1 -->
			 and AERORD12.CHZSTSKBN <![CDATA[ <> ]]> '1'
			 and AERORD12.DELFLG <![CDATA[ <> ]]> '1'
			 <!--
			 <choose>
                 <when test="usrDaikaiskbcod != usrKaiskbcod and usrBun == 'MKR'">
					and AEPROD01.KAISKBCOD = #{kaiskbcod} 
				 </when>
				 <otherwise>
					and AERORD12.DAIKAISKBCOD = #{kaiskbcod}
				 </otherwise>
			 </choose>
			 <if test="#{mkrbuncod} != ''">
				and AEPROD01.MKRBUNCOD = #{mkrbuncod}
			 </if>
			 <if test="#{skocod} != ''">
				and AERORD12.CHZSKOCOD = #{skocod}
			 </if>
			 <if test="#{kigbng} != ''">
				and AERORD12.KIGBNG = #{hjihnb}
			 </if>
			  and AEPROD01.KAISKBCOD = #{kaiskbcod}
			 
			 <choose>
				 <when test="#{tokcod} != '' and #{radioTokcod} == 'tandokuten' ">
					 AEPROD01.KAISKBCOD = #{kaiskbcod}  ※AEPROD01との結合条件が仕様書に書いてない 
				 </when>
				 <when test="#{tokcod} != '' and #{radioTokcod} == 'shuyakuten' ">
					 AEPROD01.KAISKBCOD = #{kaiskbcod}  ※AEPROD01との結合条件が仕様書に書いてない 
				 </when>
				 <otherwise>
					  処理なし 
				 </otherwise>
			 </choose>

			 <if test="#{dscod} != ''">
				and AERORD12.DSCOD = #{dscod}
			 </if>
			 <if test="#{eigcod} != ''">
				and AERORD12.EIGCOD = #{eigcod}
			 </if>
			 <if test="#{tercod} != ''">
				and AERORD12.TERCOD = #{tercod}
			 </if>

			 <if test="#{jucdtefrom} != '' or #{jucdteto} != '' ">
				and AERORD12.JUCDTE BETWEEN #{jucdtefrom} and #{jucdteto}
 			 </if>
 			 <if test="#{hbidtefrom} != '' or #{hbidteto} != '' ">
				and AERORD12.JUCDTE BETWEEN #{hbidtefrom} and #{hbidteto}
 			 </if>
 			 
 			 <if test="#{pageKey} != ''">
				and CHAR (AERORD12.CHZDTE) || CHAR (AERORD12.CHZJKK) || CHAR (AERORD12.CHZRELNO) || CHAR (AERORD12.EIGCOD) || RTRIM(CHAR (AERORD12.KIGBNG)) || CHAR (AERORD12.TOKCOD) || CHAR (AERORD12.DSCOD) > #{pageKey}
 			 </if>
			 -->
		 </where>
		 FETCH FIRST 100 ROWS ONLY
		 WITH UR
	 </select>
	 
	 <update id="update" parameterType="ChuzanEntity">
		 UPDATE AERORD12
		 <set>
			TRNCOD = #{trncod},
			CHZBSHCOD = #{chzbshcod},
			CHZSKOCOD = #{chzskocod},
			CHZDTE = #{chzdte},
			CHZJKK = #{chzjkk},
			THCBNG = #{thcbng},
			SJCOD = #{sjcod},
			YKNCOD = #{ykncod},
			MSCOD = #{mscod},
			TANKINHJIFLG = #{tankinhjiflg},
			DAIKAISKBCOD = #{daikaiskbcod},
			KIGBNG = #{kigbng},
			TRJCHZSUR = #{trjchzsur},
			CHZSUR = #{chzsur},
			TANKINSTEKBN = #{tankinstekbn},
			SKRTAN = #{skrtan},
			RMCOD = #{rmcod},
			EIGCOD = #{eigcod},
			TERCOD = #{tercod},
			SKOSTEARIFLG = #{skosteariflg},
			CHZRELNO = #{chzrelno},
			CPUFULID = #{cpufulid},
			WSSEQ7KT = #{wsseq7kt},
			CHZKICSJIZFLG = #{chzkicsjizflg},
			CHZSTSKBN = #{chzstskbn},
			DELFLG = #{delflg},
			USNJNDTE = #{usnjndte},
			CCHFLG = #{cchflg},
			CCHTIOKTKKBN = #{cchtioktkkbn},
			CCHHATSKOCOD = #{cchhatskocod},
			UPDKBN = #{updkbn},
			UPDDTE = #{upddte},
			UPDJKK = #{updjkk},
			CHZDELDTE = #{chzdeldte},
			CHZDELKJNDTE = #{chzdelkjndte},
			FMG1 = #{fmg1},
			FMG2 = #{fmg2}
		 </set>
		 <where>
			JUCDTE = #{jucdte}
			and TOKCOD = #{tokcod}
			and DSCOD = #{dscod}
			and JUCMDSSEQ = #{jucmdsseq}
			and JUCMSISEQ = #{jucmsiseq}
			and SEQ = #{seq} 
		 </where>
	 </update>
	 
 </mapper>