<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.sysmas.GeneratedProcessTransactionMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,PRCID
    ,PRCNM
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="ProcessTransactionEntity">
  insert into VTBMSG03
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{prcid}
    ,#{prcnm}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from VTBMSG03
  <where>
    and PRCID = #{prcid}
  </where>
</sql>

<select id="select" resultType="ProcessTransactionEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="ProcessTransactionEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="ProcessTransactionEntity">
  update VTBMSG03
  <set>
    ,PRCNM = #{prcnm}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and PRCID = #{prcid}
  </where>
</update>

<delete id="delete" parameterType="ProcessTransactionEntity">
  delete from VTBMSG03
  <where>
    and PRCID = #{prcid}
  </where>
</delete>

</mapper>

