<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.sysmas.GeneratedErrorNamingMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,LSTGRP
    ,ERRGRP
    ,ERRCOD
    ,SEQNO
    ,NIY
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="ErrorNamingEntity">
  insert into VTBERR04
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{lstgrp}
    ,#{errgrp}
    ,#{errcod}
    ,#{seqno}
    ,#{niy}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from VTBERR04
  <where>
    and LSTGRP = #{lstgrp}
    and ERRGRP = #{errgrp}
    and ERRCOD = #{errcod}
  </where>
</sql>

<select id="select" resultType="ErrorNamingEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="ErrorNamingEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="ErrorNamingEntity">
  update VTBERR04
  <set>
    ,SEQNO = #{seqno}
    ,NIY = #{niy}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and LSTGRP = #{lstgrp}
    and ERRGRP = #{errgrp}
    and ERRCOD = #{errcod}
  </where>
</update>

<delete id="delete" parameterType="ErrorNamingEntity">
  delete from VTBERR04
  <where>
    and LSTGRP = #{lstgrp}
    and ERRGRP = #{errgrp}
    and ERRCOD = #{errcod}
  </where>
</delete>

</mapper>

