<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.sysmas.GeneratedJobMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,JOBID
    ,JOBNM
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="JobEntity">
  insert into AESYSM06
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{jobid}
    ,#{jobnm}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from AESYSM06
  <where>
    and JOBID = #{jobid}
  </where>
</sql>

<select id="select" resultType="JobEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="JobEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="JobEntity">
  update AESYSM06
  <set>
    ,JOBNM = #{jobnm}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and JOBID = #{jobid}
  </where>
</update>

<delete id="delete" parameterType="JobEntity">
  delete from AESYSM06
  <where>
    and JOBID = #{jobid}
  </where>
</delete>

</mapper>

