<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.jdsnet.common.domain.mapper.sysmas.GeneratedYubinbangoJushoMapper">
<sql id="fields">
  <trim prefixOverrides=",">
    ,YBNBNG7KT
    ,ADR
    ,ADRKN
    ,UPDKBN
    ,UPDDTE
    ,UPDJKK
  </trim>
</sql>

<insert id="insert" parameterType="YubinbangoJushoEntity">
  insert into VTBMSG04
  <trim prefix=" (" prefixOverrides="," suffix=")">
    <include refid="fields" />
  </trim>
  <trim prefix="values (" prefixOverrides="," suffix=")">
    ,#{ybnbng7kt}
    ,#{adr}
    ,#{adrkn}
    ,#{updkbn}
    ,#{upddte}
    ,#{updjkk}
  </trim>
</insert>

<sql id="selectCommon">
  select
  <include refid="fields" />
  from VTBMSG04
  <where>
    and YBNBNG7KT = #{ybnbng7kt}
  </where>
</sql>

<select id="select" resultType="YubinbangoJushoEntity">
  <include refid="selectCommon" />
  with ur
</select>

<select id="selectWithLockForUpdate" resultType="YubinbangoJushoEntity">
  <include refid="selectCommon" />
  for update with rs
</select>

<update id="update" parameterType="YubinbangoJushoEntity">
  update VTBMSG04
  <set>
    ,ADR = #{adr}
    ,ADRKN = #{adrkn}
    ,UPDKBN = #{updkbn}
    ,UPDDTE = #{upddte}
    ,UPDJKK = #{updjkk}
  </set>
  <where>
    and YBNBNG7KT = #{ybnbng7kt}
  </where>
</update>

<delete id="delete" parameterType="YubinbangoJushoEntity">
  delete from VTBMSG04
  <where>
    and YBNBNG7KT = #{ybnbng7kt}
  </where>
</delete>

</mapper>

