<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="h-100"
    th:replace="~{template :: layout(title=#{title.backdelete},title_icon='pencil-square'
    				,scripts=~{::script},links=~{::link},body=~{::body/content()})}">
<head>
<link rel="stylesheet" th:href="@{/css/BackDelete.css}">
	<script type="text/javascript" th:src="@{/js/BackDelete.js}"></script>
</head>
<!-- https://catnose.me/learning/html/input-checkbox -->
<body>
	<main>
		<form th:action="@{/backdelete}" th:object="${backDeleteForm}" th:method="post">
			<div class="container">
<label class="my-checkbox">
  <input type="checkbox">
  <span class="checkmark"></span>
  みかん
</label>

<label class="my-checkbox">
  <input type="checkbox" checked>
  <span class="checkmark"></span>
  りんご
</label>
			</div>

		</form>
	</main>
	
</body>
</html>